.init_height {
  min-height: 500px;
}

.card_pack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.heart_title {
  display: flex;
  margin-top: 20px;
  margin-left: 50px;
  padding: 5px;
  background-color: rgba(56, 85, 106, 0.2);
  width: fit-content;
  border-radius: 10px;
}

.heart-icon {
  padding-left: 6px;
  font-size: 1.2em;
}

.icon-container {
  display: inline-block;
  vertical-align: middle;
}