.footer {
  clear: both;
  background-color: rgba(76, 105, 131, 0.3);
  color: rgba(39, 57, 82);
  margin-top: 20px;
  padding: 10px;
  text-align: left;
  font-weight: bolder;
  left: 0;
  bottom: 0;
  }

  