.sidebar {
  position: fixed;
  z-index: 4;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  color: white;
  background-color: #F5F5F5;
  transition: left 0.3s ease-in-out;
}

.sidebar.open {
  left: 0;
}

.login_layer{
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  height: 150px;
  padding-left: 20px;
  background-color: rgba(56, 85, 106, 0.5);
}

.profile_picture {
  width: 85px;
  height: 85px; 
  border-radius: 50%;
  object-fit: cover; 
}

.login_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.nickname{
  padding-left: 20px;
  font-size: 20px;
  color: black;
}

.to_login{
  padding-left: 20px;
  font-size: 10px;
  font-weight: 10;
  cursor: pointer;
}

.heart_layer{
  display: flex;
  justify-content: center; 
  align-items:flex-end;
  height: 80px;
}

.heart_circle{
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: rgba(76, 105, 131, 0.2);
  width: 70px;
  height: 70px;
  border-radius: 100px;
  cursor: pointer;
}

.heart_icon {
  color: black;
  font-size: 30px; 
  font-weight: 1; 
  padding-bottom: 0;
}

.heart{
  display: flex;
  justify-content: center; 
  align-items: center;
  padding-top: 0;
  font-size: 12px;
  color: black;
}

.page_layer{
  height: 100%;
  background-color: rgba(39, 57, 82, 0.6);
}

.page_btn{
  background-color: rgba(255, 255, 255, 0);
  color: black;
  width: 100%;
  height: 50px;
  font-size: 17px;
  font-weight: 10;
  cursor: pointer;
}