body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

palette{
background-color: #273952;  /*rgba(39, 57, 82);*/
background-color: #38556A;  /*rgba(56, 85, 106);*/
background-color: #4C6983;  /*rgba(76, 105, 131);*/
background-color: #B6FFF9;  /*rgba(182, 255, 249);*/
}