.container {
  background-color: white;
  width: 20%;
  height: 250px;
  border-radius: 14px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  margin: 20px;
  margin-top: 30px;
}

.title_box {
  background-color: rgba(56, 85, 106, 0.35);
  width: 100%;
  height: 80px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  overflow: hidden;
}

.card_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 17px;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.card_rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 17px;
  width: 20%;
  height: 100%;
  font-size: 13px;
  margin-left: 10px;
  text-align: center;
}

.card_locate {
  display: flex;
  justify-content: flex-start;
  padding-left: 17px;
  width: 85%;
  font-size: 10px;
}

.card_locate svg {
  margin-right: 5px;
}

.card_heart {
  display: flex;
  justify-content: flex-end;
  padding-right: 17px;
  width: 15%;
  font-size: 24px;
  cursor: pointer;
  color: rgba(39, 57, 82, 0.2);
  transition: color 0.3s;
}

.card_heart.active {
  color: rgb(245, 95, 95);
}

.content_box {
  background-color: rgba(76, 105, 131, 0.2);
  flex-direction: row;
  align-items: center;
  height: 170px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.content_box img {
  width: 100%;
  height: 170px; 
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.img_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 150px;
}

.card1 {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50px;

}

.card2 {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 30px;
  padding-bottom: 10px;
}