.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.loginModal {
  width: 480px;
  height: 500px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
}

.close {
  float: right;
  font-size: 25px;
}

.modalContents {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 0 20px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signinIcon {
  width: 150px;
  margin: 0 auto;
}

.inputId {
  margin-top: 30px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}

.inputPw {
  margin-top: 15px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}

.loginMid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.autoLogin {
  font-size: 12px;
  color: #8d8d8d;
  line-height: 3;
}

.loginBtn {
  height: 40px;
  font-size: 14px;
  padding: 13px 30px;
  cursor: pointer;
  background-color: rgba(39, 57, 82);
  color: white;
  line-height: 1px;
  margin-top: 20px;
  margin-bottom: 12px;
  border-radius: 3px;
  border-style: none;
}

.socialBox {
  margin-bottom: 30px;
}

.google {
  background-color: rgba(233, 233, 233, 0.778);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.googleText {
  width: 300px;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  color: black;
}

.kakao {
  background-color: #fff021;
  border-color: #fff021;
  height: 40px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  border-radius: 3px;
  cursor: pointer;
}

.kakaoText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  box-sizing: border-box;
}

.loginEnd {
  text-align: center;
  font-size: 11px;
}

.toSignin {
  color: #bcbcbc;
  font-size: 12px;
  cursor: pointer;
}
